img {
  width: 560px;
  box-shadow: 0 0 10px black;
}

h2 {
  font-weight: bold;
  font-size: 2.5em;
}

h3 {
  margin-top: 8px;
  color: lightgrey;
  font-size: 1.2em;
}

p {
  margin: 26px auto;
}


main > section {
  display: flex;
  flex-direction: row-reverse;

  /*background-color: rgb(49, 47, 47);*/
  /*border: 1px solid white;*/

  padding: 16px;
  margin: 30px auto;

}

section section {
  /*border: 1px solid pink;*/
  padding: 20px;
}
