.nav-bar {
  background-color: rgb(32, 30, 38);
  padding: 18px 24px;
}

.nav-bar nav {
  display: flex;
  justify-content: center;
}

.nav-bar a {
  margin: 0 40px;
  font-family: sans-serif;
  font-size: 1.4em;
  color: white;
  text-decoration: none;
}
