@font-face {
  font-family: 'Overpass';
  src: url('../fonts/Overpass-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-VariableFont.ttf') format('truetype');
}



/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: rgb(32, 30, 38);*/
  margin: 0 5%;
  padding: 18px 44px;
}

header nav {
  /*display: flex;*/
  /*justify-content: center;*/
}

nav > ul {
  /*margin-top: 15px;*/
  vertical-align: center;
  margin: 0 40px;
}

header a {
  margin: 0 10px;
  font-family: "Overpass", sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

nav a {
  padding: 10px 18px;
}

header .name {
  font-family: "Work Sans", sans-serif;
  font-size: 2.4em;
  font-weight: 600;
}


/* Footer Styles */
footer {
  margin: 0 auto;
  padding: 6px 0;
  background-color: rgb(28, 26, 34);
  max-width: 1280px;

  border-radius: 36px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer img {
  width: 40px;
  height: 40px;
}

footer p {
  color: lightgrey;
}
