/*h1 {*/
/*  font-family: "Work Sans", sans-serif;*/
/*  font-size: 5em;*/
/*  font-weight: 500;*/
/*  padding: 40px 0;*/
/*  width: 70%;*/
/*}*/



/* Button Style */
.button {
  margin-top: 32px;
  position: relative;
  left: 20px;
}

.button a {
  background-color: rgb(78, 161, 209);
  color: rgb(31, 27, 35);
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 42px;
  width: 40px;
  letter-spacing: 1px;
}

.button a:hover{
  background-color: rgb(124, 204, 255);
  transition: 0.3s;
}

h2 {
  font-weight: bold;
  font-size: 3em;
  margin-top: 40px;
}

h3 {
  font-weight: bold;
  font-size: 2.6em;
}


/* temporary even spacing */
h1, h2, h3, p {
  /*margin: 20px 0;*/
}


main > section:first-of-type {
  display: flex;
  margin-top: 50px;
  height: 318px;
}

/*main > section:last-of-type section {*/
/*  display: table-cell;*/
/*  background-color: white;*/
/*}*/

section section {
  padding: 10px;
  /*border: 2px solid white;*/
}

section section h3, section section p {
  margin-top: 20px;
}


section:first-of-type section:nth-of-type(1){
  width: 25%;
}

section:first-of-type section:nth-of-type(2){
  width: 32%;
}

section section:nth-of-type(3){
  width: 43%;
  /*width: 60%;*/

}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  margin-left: 70px;

  /*position: relative;*/
  /*left: 50px;*/
}

/* Table styles */
table {
  font-family: "Inter", sans-serif;
  font-size: 1.3em;
  color: white;
  width: 800px;
  margin-top: 20px;
}

table tr td:first-child {
  /*background-color: pink;*/
  width: 30%;
  font-weight: bold;
}

table td {
  padding: 10px;
  line-height: 1.5;
}

table td p {
  color: black;
  font-size: 1em;
}


/* Styles for the coding languages */
div span {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 1.3em;
  /*color: rgb(186, 212, 241);*/
  color: black;
  background-color: rgb(118, 178, 216);
  margin: 16px 5px 5px;
  padding: 14px 20px;
  border-radius: 26px;
}

div span:hover {
  background-color: rgb(105, 160, 193);
  transition: 0.3s;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  /*background-color: pink;*/
  width: 60%;
}
