h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 5em;
  font-weight: 500;
  padding: 40px 0;
  width: 70%;
}

/* Button Style */
.button {
  margin-top: 32px;
  position: relative;
  left: 20px;
}

.button a {
  background-color: rgb(78, 161, 209);
  color: rgb(31, 27, 35);
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 42px;
  width: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}



h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 2.6em;
}


p {
  font-size: 1.3em;
  line-height: 1.3em;
}


/* temporary even spacing */
h1, h2, h3, p {
  /*margin: 20px 0;*/
}


main > section {
  display: flex;
  margin-top: 50px;
  height: 318px;
}

section section {
  padding: 10px;
  /*border: 2px solid white;*/
}

section section h3, section section p {
  margin-top: 32px;
}


section section:nth-of-type(1){
  width: 25%;
  /*width: 40%;*/
}

section section:nth-of-type(2){
  width: 32%;
  /*width: 60%;*/

}

section section:nth-of-type(3){
  width: 43%;
  /*width: 60%;*/

}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  margin-left: 70px;

  /*position: relative;*/
  /*left: 50px;*/
}
