h1 {
  font-family: "Overpass", sans-serif;
  font-size: 4.2em;
  font-weight: bold;
  width: 50%;
}

/* Button Style */
.button {
  background-color: rgb(78, 161, 209);
  color: rgb(31, 27, 35);
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 42px;
  width: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}



h3 {
  font-family: "Rubik", sans-serif;
  font-size: 2em;
}


p {
  font-size: 1.1em;
}



h1, h2, h3, p {
  margin: 20px 0;
}
