h2 {
  font-weight: bold;
  font-size: 2.5em;
  margin-top: 20px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.6em;
}

section {
  background-color: rgb(41, 44, 62);
  padding: 36px;
  border-radius: 30px;
}

div {
  margin: 40px;
}

p {
  font-size: 2em;
}

a {
  margin-left: 30px;
  text-decoration: none;
}

a:hover {
  color: rgb(131, 139, 148);
  transition: 0.3s;
}
